# This is a basic workflow to help you get started with Actions

name: browser-home-page

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: install node.js
        uses: actions/setup-node@v3.0.0 
        with: 
              node-version: "14.X"
      - name: install deps
        run: npm install
      - name: build app
        run: npm run build
      - name: copy file via ssh key
        uses: appleboy/scp-action@master
        with:
            source: 'dist/*'
    # SSH address
            host: ${{ secrets.REMOTE_HOST }}
    # Remote dir path
            target: ${{ secrets.REMOTE_PATH }}
    # SSH Port
            port: 22
    # SSH User name
            username: ${{ secrets.REMOTE_NAME }}
    # SSH User password
            password: ${{ secrets.PASSWORD }}
    # key
            key: ${{ secrets.SSH_KEY }}


      
        
      
